<div class="col-lg-10 col-lg-offset-1">
  <div class="jumbotron">
    <h3>{{title}}</h3>
    <hr/>

    <form #formCliente="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-cliente">

      <label>
        Nombres *
        <span *ngIf="!primerNombre.valid && primerNombre.touched"
              class="label label-danger">El nombre es obligatorio</span>
      </label>
      <input type="text" #primerNombre="ngModel" name="primerNombre" [(ngModel)]="client.names"
             class="form-control" required/>

      <label>
        Apellidos *
        <span *ngIf="!primerApellido.valid && primerApellido.touched" class="label label-danger">El primer apellido es obligatorio</span>
      </label>
      <input type="text" #primerApellido="ngModel" name="primerApellido" [(ngModel)]="client.lastNames"
             class="form-control" required/>

      <label>
        DPI
        <span *ngIf="!dpi.valid && dpi.touched" class="label label-danger">El dpi no es correcto</span>
      </label>
      <input type="text" #dpi="ngModel" name="dpi" [(ngModel)]="client.dpi" class="form-control" pattern="[0-9]+"/>

      <label>
        NIT
      </label>
      <input type="text" #nit="ngModel" name="nit" [(ngModel)]="client.nit" class="form-control" pattern="[0-9]+"/>

      <label>
        Correo Electronico *
        <span *ngIf="!email.valid && email.touched"
              class="label label-danger">El correo electronico es obligatorio</span>
      </label>
      <input type="email" #email="ngModel" name="email" [(ngModel)]="client.email" class="form-control" required/>

      <label>
        Telefono Móvil *
        <span *ngIf="!movil.valid && movil.touched" class="label label-danger">El telefono movil es obligatorio</span>
      </label>
      <input type="text" #movil="ngModel" name="movil" [(ngModel)]="client.mobilePhone" class="form-control"
             required/>

      <label>
        Telefono Adicional
      </label>
      <input type="text" #movil2="ngModel" name="movil2" [(ngModel)]="client.aditionalPhone" class="form-control"/>

      <label>
        Dirección
      </label>
      <textarea #direccion="ngModel" name="direccion" [(ngModel)]="client.address" class="form-control"></textarea>

      <script type="text/javascript">
        var datefield = document.createElement("input")
        datefield.setAttribute("type", "date")
        if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
          document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>\n')
          document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
          document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
        }
      </script>

      <script>
        if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
          jQuery(function ($) { //on document.ready
            $('#fechaNacimiento').datepicker({
              dateFormat: 'dd.mm.yy',
              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
              dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
              dayNamesMin: ['So', 'Mo', 'Die', 'Mi', 'Do', 'Fre', 'Sa']
            });
          })
        }
      </script>

      <label>
        Fecha de Nacimiento
      </label>
      <input type="date" #fechaNacimiento="ngModel" name="fechaNacimiento" id="fechaNacimiento"
             [(ngModel)]="client.birthDate" class="form-control"/>
      <br/>
      <input type="submit" value="Agregar" [disabled]="!formCliente.form.valid" class="btn btn-success"/>
    </form>
  </div>
</div>

