<div *ngIf="fhaDisp?.length > 0;else noClients" >
  <div class="jumbotron">
    <h3>{{title}}</h3>
    <table class="table table-striped">
      <thead >
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Precio</th>
        <th scope="col">Ambientes</th>
        <th scope="col">Registro de Propiedad</th>
        <th scope="col">Area de Terreno</th>
        <th scope="col">Area de Construcción</th>
        <th scope="col">Disponibilidad</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fha of fhaDisp">
        <th scope="row" ><a [href]="fha.linkToGo">{{fha.code}}</a></th>
        <td>{{fha.address}}</td>
        <td>Q.{{fha.price}}</td>
        <td>{{fha.environments}}</td>
        <td>{{fha.propertyRegistry}}</td>
        <td>{{fha.fieldArea}} m²</td>
        <td>{{fha.consArea}} m²</td>
        <td *ngIf="fha.available"><h6>Disponible</h6></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noClients>
  <div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">
      <h3>No hay casas disponibles...</h3>
    </div>
  </div>
</ng-template>
