<nav class="navbar fixed-top navbar-expand-lg navbar-dark fadeIn" style="background-color: darkred">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="/assets/logo.png" width="36" height="36" viewBox="0 0 612 612" class="d-inline-block align-bottom"
             alt="Inmo Bussiness GT">
        InmoBusiness
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" [routerLink]="['/inmovables-list']">En Venta</a>
        </li>
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" [routerLink]="['/fha-list']">Listado FHA</a>
        </li>
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" [routerLink]="['/proyectos']">Proyectos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/clients-list']">Listado de Clientes</a>
            <a class="dropdown-item" [routerLink]="['/add-client']">Agregar Cliente</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Administracion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/clients-list']">Listado de Inmuebles</a>
            <a class="dropdown-item" [routerLink]="['/inmovables-add']">Agregar Inmueble</a>
            <a class="dropdown-item" [routerLink]="['/add-client']">Agregar Proyecto</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/clients-list']">Reportar Venta</a>
            <a class="dropdown-item" [routerLink]="['/add-client']">Historial de Ventas</a>
            <a class="dropdown-item" [routerLink]="['/add-client']">Realizar Cotizacion</a>
            <a class="dropdown-item" [routerLink]="['/add-client']">Historial de Cotizaciones</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" [routerLink]="['/servicios']">Nuestros Servicios</a>
        </li>
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" [routerLink]="['/contactanos']">Contactanos</a>
        </li>
      </ul>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ingresar</button>
    </div>
  </div>
</nav>
